@import "normalize.css";

:root {
  --primary: #fe2c55;
  --default-layout-header-height: 60px;
  --default-layout-header-width: 1150px;
  --default-layout-horizontal-spacer: 24px;
  --black: #000;
  --text-color: #161823;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "ProximaNova", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
}

button,
input,
[tabindex] {
  font-family: "ProximaNova", sans-serif;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
//fonts embedded
@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/Proxima-Nova-Bold.woff");
  font-weight: 700;
}

@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/Proxima-Nova-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: ProximaNova;
  src: url("/assets/fonts/ProximaNova-Semibold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: SofiaPro;
  src: url("/assets/fonts/sofiapro-bold.woff");
  font-weight: 600;
}

// custom typpy tooltip
body {
  .tippy-box {
    background-color: rgba(84, 84, 84, 0.92);
    border-radius: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.2rem;
  }

  .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
  }

  .tippy-content {
    padding: 8px 9px;
  }
  .tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
    top: -8px;
  }
}
